body {
    font-family: "Assistant", sans-serif;
    width: 100vw;
    min-width: 100vh;
    position: relative;
}

a.logo {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a.logo > span {
    font-weight: 700;
}


.title {
    color: rgb(209, 20, 20);
    font-size: 70px;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    margin-top: 50px;
}

.description {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 15px 0;
    font-size: 20px;
    font-family: 'Mali', cursive;
}

.mainscreen {
    min-height: calc(100vh - 60px);
    overflow: hidden;
}

footer {
    padding: 15px 0;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0px 0px 1px rgb(0,0,0,0.2);
}

.credentials {
    display: inline-block;
    margin: 0;
}

.social-links {
    float: right;
    padding: 0;
}

.social-links {
    float: right;
    padding: 0;
}

.social-links li {
    cursor: pointer;
    display: inline-block;
}

.social-links li a {
    padding: 0 15px;
    color: #000;
    transition: all 0.4s ease;
}
.social-links li a:hover, .social-links li a:active {
    color: #ffd400;
}

#color-picker {
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.1s ease;
    box-shadow: 0px 0px 1px rgb(0,0,0,0.2);
}

.indicator {
    position: absolute;
    width: 50px;
    height: 63px;
    bottom: 60px;
    transition: all 0.1s linear;
    pointer-events: none;
}

#modalWindow {
    width: 40%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .2);
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background: url("http://www.freechristmaswallpapers.net/web/wallpapers/thumbnail/Winter-Background-with-Frozen-Trees_lg.jpeg");
    background-size: cover;
}
.wraper {
    position: relative;
    float: left;
    height: calc(100vh - 60px);
}
#myPicture{
    width: calc(100% - 150px);
    height: calc(100vh - 60px);
    float: left;
    text-align: center;
}

#myPicture svg {
    height: 100%;
    margin: 0 auto;
}
.shareButtons{
    position: fixed;
    top:0;
    right: 0;
}

.modal_input{
    width: 100%;
}

.modal_thumbnail{
    display: block;
    width: 100px;
    margin: 15px 15px 15px 0;
}

.shareButton {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    right: 21px;
    z-index: 10;
    font-size: 20px;
    line-height: 60px
}

.audioButton{
    top: 5vh;
    background-color: rgb(221, 27, 27);
}
.audioButton::before{
    background-color: rgb(221, 27, 27);
}

#retryButton {    
    top: 20vh;
    background-color: rgb(230, 211, 40);
}

#retryButton::before{
    background-color: rgb(230, 211, 40);
}

#facebookButton{
    top: 35vh;
    background-color: rgb(66, 103, 178);
}

#facebookButton::before{
    background-color: rgb(66, 103, 178);
}

#twitterButton{
    top: 50vh;
    background-color: rgb(56,161,243);
}

#twitterButton::before{
    background-color: rgb(56,161,243);
}

#saveButton{
    top: 65vh;
    background-color: rgb(90, 185, 13);
}

#saveButton::before{
    background-color: rgb(90, 185, 13);
}

.shareButton::before{
    content: '';
    display: block;
    position: absolute;
    top: -4px;
    left: 24px;
    width: 12px;
    height: 10px;
}

#canv {
    position: absolute;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
}
.cord {
    position: relative;
    height: 65vh;
    right: 50px;
    position: absolute;
    top: 0;
    fill: green;
    z-index: 1;
}

.cards {
    margin: 15px 0;
}

.swing {
    transform-origin: top center;
    animation: swing 2s alternate infinite;
}

@keyframes swing {
    20% {
      transform: rotate3d(0, 0, 1, 15deg);
    }
  
    40% {
      transform: rotate3d(0, 0, 1, -10deg);
    }
  
    60% {
      transform: rotate3d(0, 0, 1, 5deg);
    }
  
    80% {
      transform: rotate3d(0, 0, 1, -5deg);
    }
  
    100% {
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }

  
.pulse {
    animation: pulse 1s infinite;
  }

  @keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
