body {
    font-family: "Assistant", sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

a.logo {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a.logo > span {
    font-weight: 700;
}

.footer {
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 80px auto 0 auto;
}

.credentials {
    display: inline-block;
    margin: 0;
}

.social-links {
    float: right;
    padding: 0;
}

.social-links {
    float: right;
    padding: 0;
}

.social-links li {
    cursor: pointer;
    display: inline-block;
}

.social-links li a {
    padding: 0 15px;
    color: #000;
    transition: all 0.4s ease;
}
.social-links li a:hover, .social-links li a:active {
    color: #ffd400;
}

#color-picker {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.24);
}

.indicator {
    position: absolute;
    width: 50px;
    bottom: 60px;
    left: 0;
    right: 0;
    transition: all 0.1s linear;
    pointer-events: none;
}